<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!--<File name="FILEGDM" fileName="${sys:catalina.home}/logs/bds_tools.log">
            <PatternLayout>
                <Pattern>%d{yyyy MM dd HH:mm:ss,SSS} %p %t %c - %m%n</Pattern>
            </PatternLayout>
        </File>-->
        <RollingFile name="Application" fileName="${sys:catalina.home}/logs/deli_application.log"
            filePattern="${sys:catalina.home}/logs/deli_application.log.%i">
            <PatternLayout>
                <Pattern>%d{yyyy MM dd HH:mm:ss,SSS} %p %t %c - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="40"/>
        </RollingFile>
                <RollingFile name="LocalChef" fileName="${sys:catalina.home}/logs/deli_localchef.log"
            filePattern="${sys:catalina.home}/logs/deli_localchef.log.%i">
            <PatternLayout>
                <Pattern>%d{yyyy MM dd HH:mm:ss,SSS} %p %t %c - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="40"/>
        </RollingFile>
                <RollingFile name="Service" fileName="${sys:catalina.home}/logs/deli_service.log"
            filePattern="${sys:catalina.home}/logs/deli_service.log.%i">
            <PatternLayout>
                <Pattern>%d{yyyy MM dd HH:mm:ss,SSS} %p %t %c - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="40"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
           <PatternLayout>
                <Pattern>%d{yyyy MM dd HH:mm:ss,SSS} %p %t %c - %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="application" level="info" additivity="false">
            <AppenderRef ref="Application"/>
        </Logger>
         <Logger name="localchef" level="info" additivity="false">
            <AppenderRef ref="LocalChef"/>
        </Logger>
         <Logger name="service" level="info" additivity="false">
            <AppenderRef ref="Service"/>
        </Logger>

        <Root level="info">
            <!--<AppenderRef ref="Console" />-->
            <AppenderRef ref="application" />
        </Root>
    </Loggers>
</Configuration>